{% load static %}
<html>
  <head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Load Proper CSS for page, need to find a way to make this on every page without having this code -->

    <link rel="stylesheet" href="{% static  '/file_upload/templates/style.css' %}" />

    <!-- <link rel="stylesheet" href="{% static  'styles.css' %}" /> -->
  </head>

  <body>
    <h1>NN Analysis GUI</h1>
    <div class="container" id="content">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
